body{
	background-color:#f5f5f5;
	font-family: 'Roboto', sans-serif;
}

.loader{
  margin-left: 42% !important;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.loader svg{
	margin-right: 30px;
}

svg path,
svg rect{
  fill: #FF6700;
}

.feed-container{
	margin-top: 150px;
	margin-bottom: 50px;
}

.login-container{
	background-color:#00adee;
	border-radius: 20px; 
	margin: auto;
	max-width: 500px;
}

.login-align{
	padding: 10px;
}

.login-align h2{
	text-align: center;
	color:#fff;
}

.login-align form{
	padding: 20px;
}

form label{
	color:rgba(255, 255, 255, 0.81);
}

.white-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.top-nav{
	height: 100px;
	background: #00adee !important;
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.navbar-brand{
	color:#fff !important;
	font-size: 30px;
	margin-top: 25px;
}

.cal-table th{
	text-align: center;
}

.feed-title{
	color:rgba(0, 0, 0, 0.65);
	font-size: 20px;
	font-weight: 300;
	padding-left: 0px;
	margin-top: 0;
}

.form_radio_button{
	margin-left: 48% !important;
}

.item{
	background: #fff;
    border: solid 1px #c7c7c7;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 20px 10px;
}

.thumbnail{
	margin-bottom: 0px
}

th{
	font-weight: 400;
}

#th-header{
	font-weight: 700;
}

.btnSelected{
	background-color: rgba(107, 107, 107, 0.73);
}

.pagination{
	margin-left: 40%;
	font-size: 18px;
}

.pagination-nav{
	margin-bottom: 30px;
}

.itemSelected{
	background-color: #ddd !important;
}

.qualifiedItem{
	background-color: rgba(0, 0, 0, 0.03);
}

.activity-qualification{
	margin-top:4.3em;
}
.btn-q{
	width: 200px;
}

.btn-qualification{
	margin-top: 2.3em;
}

.btn-logOut{
	margin-top: -40px;	
}

.trashIcon{
	font-size: 25px;
	margin-right: 20px;
	margin-top: 20px;
}

#btn_newChallenge{
	font-size: 16px;
}